@CHARSET "ISO-8859-1";
.student{
	background-color: #EEEEEE;
	height:175px;
	width:10%;
	float:left;
	margin: 1% 1% 1% 1%;
}

label {
  display: block;
  margin: .5em 0 0 0;
}

.imgstudent{
	margin: auto;
	width: 100%;
	height: 100%;
}

.imgdiv{
	width:90%;
	height:80%;
}

body
{
	font: 13px/1.231 sans-serif;
	font-size: small;
}

html
{
	overflow-y: scroll; 
	background: #f4f4f4;

}

body
{
	height:100%;
	font-family: "HelveticaNeue-light","Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "lucida Grande", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	line-height: 21px;
	color: #424242;
	text-shadow:#FFF 0 1px 0;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;	
	text-align: center;
}

input
{
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius: 10px;
}

.button {
   border-top: 1px solid #969da1;
   background: #888f94;
   background: -webkit-gradient(linear, left top, left bottom, from(#7f8a91), to(#888f94));
   background: -webkit-linear-gradient(top, #7f8a91, #888f94);
   background: -moz-linear-gradient(top, #7f8a91, #888f94);
   background: -ms-linear-gradient(top, #7f8a91, #888f94);
   background: -o-linear-gradient(top, #7f8a91, #888f94);
   padding: 5px 10px;
   -webkit-border-radius: 14px;
   -moz-border-radius: 14px;
   border-radius: 14px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 12px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   }
   
.buttonmenu{
	width:60%;
	margin-top:10px;
}

.button:hover {
   border-top-color: #4a5359;
   background: #4a5359;
   color: #fffcff;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
   
 .button:disabled{
 	color:#8C8C8C;   
    background:#F5F5F5;
    border-color: #F5F5F5;
 }
footer{
	background-color:#E0E0E0;
	clear:both;
	text-align:center;
	font-weight:bold;
}

font{
	color:#000000;
}

.logout{
	float:right;
	margin: 10px 10px 0 0;
	text-decoration: none;
	font-size: 125%;
}
a{
	text-decoration: none;
	color:#000000;
}

#menu{
	background-color:#E0E0E0;
	height:800px;
	width:10%;
	float:left;
	margin-right:10px;
	text-align:center;
	font-size:150%;
}